In [1]:
"A"+"B" #cancatenation

'AB'

In [2]:
2 + 3 #simple addition

5

In [3]:
[ "A" , "B"] + ["C" , "D"]

['A', 'B', 'C', 'D']

In [4]:
2.0  + 3

5.0

In [5]:
{ "A" , "B"} + {"C" , "D"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [6]:
{ 1:"A" , 2:"B"} + {3:"C" , 4:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# Subtraction

In [7]:
5-3

2

In [8]:
3.3-2

1.2999999999999998

In [9]:
{ "A" , "B" , "C"} - {"A" , "B"}

{'C'}

In [10]:
{ 1:"A" , 2:"B" , 5:"C"} - {3:"A" , 4:"C"}

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

# Subtraction
Apply incase of decimals , list , tupple but not incase of set and dictionary

# Division

In [12]:
10/5
11/5

2.2

In [13]:
10/5

2.0

In [14]:
11//5   # it ignores decimal part

2

In [15]:
11//2

5

# Modulus

In [16]:
21 % 5

1

In [17]:
2**3

8

# Comparison operators

==
>
<
>=
<=
!+, <>

In [20]:
2==2

True

In [21]:
2.0==2

True

In [23]:
'2'==2

False

In [24]:
a=['A' , 'B']
b=['A' , 'B']
print (id(a),id(b), sep='\n')
a==b

2098307783688
2098307783560

True

In [25]:
a is b

False

In [26]:
{1,2,3}=={1,2,3}

True

In [27]:
5 > 3

True

In [28]:
5 > 5

False

In [29]:
5 > '4'

TypeError: '>' not supported between instances of 'int' and 'str'

In [30]:
"A" > "B"  # letters have ASCII values in back end 
           # ` A=65 -> Z=90 , a=97 -> z=122 , 0=48 -> 957

False

In [31]:
chr(65)

'A'

In [32]:
"A" > "B"
#ord (A) > ord(B)
# 65 > 66

False

In [33]:
ord("z")

122

In [34]:
5 >= 5

True

In [35]:
'Osama' != 'osama'

True

In [36]:
'osama' != 'osama'

False

# Assignment operators

=
+=
*=
/=
//=
**=
%=

In [38]:
a=1
a=a+2
a=a+5
a=a+2
print(a)

10

In [39]:
a=1
a+=2
a+=5
a+=2
print(a)

10

In [40]:
a=1
a+=2
a+=5
a=+2
print(a)

2

In [41]:
a=100
a-=20
a-=5
print(a)

75

In [42]:
a-1
a*=2
a*=3
print(a)

450

In [44]:
a = "A"
a *= "B"
a *= "C"

TypeError: can't multiply sequence by non-int of type 'str'

# Logical Operators

>>> and
>>> or
>>> not

In [46]:
user = input(" user name ")
pwd = input(" enter password ")
(user == "A" or user == "B" or user == "C") and pwd == '123'

 user name A
 enter password 124

False

# Bitwise Operators

In [47]:
chr(ord("A") & ord("B"))

'@'

In [48]:
(ord("A") & ord("B"))

64

In [49]:
"A" & "B"

TypeError: unsupported operand type(s) for &: 'str' and 'str'

# Membership Operators

-->>> in
-->>> not in

In [51]:
names = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [57]:
i = 0
while i<len(names):
if names[i]=="F":
print(True)
break
i += 1

IndentationError: expected an indented block (<ipython-input-57-b8a3fb6728f1>, line 3)

In [58]:
"F" in names

True

In [ ]:
message = input("message")
"pakistan" in message

In [ ]:
print(names)
"a" not in names

In [ ]:
print(names)
"a" not in names

In [ ]:
print(names)
"a" not in names

In [1]:
print(names)
"a" not in names

NameError: name 'names' is not defined

In [2]:
names = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [3]:
print(names)
"a" not in names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

True

# Control Flow

if , else , elif

# old
if (logic){
    if_value_True
}
else{
    if_value_False
}


pythonic
if logic:
    if_value_True
else:
    if_value_False

In [6]:
if True:
    print("pakistan")
else:
    print("zinda bad")

pakistan

In [7]:
print("pakistan") if True else print("zinda bad")

pakistan