# Arithmetic operations
addition
subtraction
multiplication
division
floor division //
modulus %
power **

# ADDITION

In [1]:
2+3

5

In [3]:
8+5

13

In [4]:
3+2.0

5.0

In [5]:
2.5+3

5.5

In [6]:
2-3

-1

In [7]:
4-3

1

In [9]:
"A" + "B"

'AB'

['A', 'B', 'C', 'D']

In [11]:
["A" , "B"] + ["B" , "C"]

['A', 'B', 'B', 'C']

In [12]:
("A" , "B") + ("B" , "C")

('A', 'B', 'B', 'C')

In [13]:
{"A" , "B"} + {"B" , "C"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

ADDITION WORKS IN CASE OF LIST AND TUPPLE BUT NOT IN CASE OF SETS.

#  SUBTRACTION

In [14]:
2-3

-1

In [15]:
5-3

2

In [16]:
5.2-2

3.2

In [17]:
["A" , "B"] - ["B" , "C"]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [18]:
("A" , "B") - ("B" , "C")

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [19]:
{"A" , "B"} - {"B" , "C"}

{'A'}

SUBTRACTION ONLY WORKS IN CASE OF SETS

#  MULTIPLICATION

In [20]:
2.2*3

6.6000000000000005

In [21]:
2.1*2

4.2

In [22]:
3*2

6

In [23]:
"AB" * 2

'ABAB'

In [24]:
'AB' * 3

'ABABAB'

In [25]:
["A" , "B"] *2

['A', 'B', 'A', 'B']

In [26]:
["AB"] * 2

['AB', 'AB']

In [27]:
("A" , "B") * 2

('A', 'B', 'A', 'B')

In [29]:
("A" ) * 2

'AA'

In [30]:
{"A" , "B"} * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

MULTIPLICATION WORKS IN CASE OF LIST AND TUPPLE BUT NOT INCASE OF SETS

# DIVISION AND FLOOR FUNCTION

In [31]:
5/2

2.5

In [32]:
5//2

2

In [33]:
11/5

2.2

In [34]:
11//5

2

FLOOR FUNCTION REMOVES THE DECIMAL PART

# MODULUS

In [36]:
11%5

1

IT GIVES REMAINDER

# COMPARISON

# RELATIONAL OPERATORS
==  ,  >   ,  <  ,  >=   ,  <=  ,  !=   ,  <>

In [37]:
2 == 2

True

In [38]:
2 == 3

False

In [39]:
"2" == "2"

True

In [40]:
"OSAMA" == "OSAMA"

True

In [41]:
"OSAMA" == "oSAMA"

False

In [42]:
5 > 3

True

In [43]:
5 > 5

False

In [44]:
5 >= 5

True

In [45]:
5 <> 5

SyntaxError: invalid syntax (<ipython-input-45-9fd450bf6f93>, line 1)

In [46]:
A IS A

SyntaxError: invalid syntax (<ipython-input-46-6a366c0db910>, line 1)

In [47]:
a is a

NameError: name 'a' is not defined

In [48]:
a=2
b=2
a is b

True

In [50]:
ord("Z")

90

In [51]:
ord("A")

65

In [52]:
90-65

25

# ASSIGNMENT OPERATORS

Assignment Operators
=
+=
-=
*=
/=
//=
**=
%=

In [55]:
a=2
a+=5
a+=8
print(a)

15

In [56]:
a=50
a-=20   # a=a-20
a-=5    # a=a-5
a-=3    # a=a-3
print(a)

22

In [59]:
a="A"
a+="B"
a+="C"
print(a)

ABC

In [60]:
a=11
a*=3
print(a)

33

In [61]:
a=11
a/=3
print(a)

3.6666666666666665

In [62]:
a=11
a%=3
print(a)

2

In [63]:
a=11
a//=3
print(a)

3

# LOGICAL OPERATORS

and &
or | 
not

In [67]:
user= input("enter name")
pwd=input("enter password")

(user== "A" or user == "B" or user== "C")  and  pwd == "123"

enter nameB
enter password123

True

# MEMBERSHIP OPERATORS

in
not in

In [68]:
a= "I am a boy"
"boy" in a

True

In [69]:
"boy" in a.split()

True

In [70]:
a= "he is smartboy"
"smart" in a
"smart" in a.split()

False

In [71]:
a= "he is smartboy"
"smart" in a.split()

False

In [72]:
a= "he is smartboy"
"smart" in a

True

In [76]:
user = input("input name ")
pwd = input ("input password ")
(user in ["A" , "B" , "C"]) and pwd=="123"

input name A
input password 321

False

# IDENTITY OPERATORS

In [86]:
a=5
b="5"
c=a
print(a,b,c, sep='\n')
print (id(a),id(b),id(c), sep='\n')

5
5
5
140715669496336
2270573550192
140715669496336

In [90]:
a==b

True

In [91]:
a==c

False

In [92]:
b==c

False

In [93]:
id(a)==id(c)

False

In [94]:
id(a)==id(b)

True

# CONTROL FLOW

IF
ELSE
ELIF

In [106]:
a=10
b=5
a>b
if (a>b):
    print("true")
else:
    print("false")

true

In [109]:
a=5
b=6
if(a>b):
    print("a is largest one")
elif(a==b):
    print("a and b are equal")
else:
    print("b is the largest one")

b is the largest one

# LIST__TUPLE__LOOP

In [112]:
#   0     1     2     3 
a=["A" , "B" , "C" , "C"]
#  -4    -3    -2    -1
print(a)

['A', 'B', 'C', 'C']

In [113]:
print(a[2])

C

In [114]:
print(a[-3])

B

In [115]:
print(a[0])

A

In [116]:
a=("A" , "B" , "C" , "C")
print(a)

('A', 'B', 'C', 'C')

In [117]:
print(a[1])

B

In [118]:
a="A"
b="B"
c="C"
print(a,b,c)

A B C

In [119]:
print (a    ,     b    ,     c)

A B C

In [127]:
print(a,b,c, sep="\n")

A
B
C

In [128]:
print(type(b))

<class 'str'>

In [129]:
print(type(a))

<class 'str'>

In [130]:
a={"a"}
print(type(a))

<class 'set'>

In [134]:
a=()
print(type(a))

<class 'tuple'>

In [135]:
a=[]
print(a)

[]

In [136]:
a=a.append("tomorrow will be your quiz")
print(a)

None

In [144]:
a=[]
a.append('tomorrow will be ur quiz')
a.append('if there is not raining')
print(a)

['tomorrow will be ur quiz', 'if there is not raining']

In [139]:
a=[]
a.append("a")
a.append("b")
print(a)

['a', 'b']

# shallow copy and deep copy

In [148]:
a=["a","b","c"]      # shallow copy
b=a                  # same thing have two diff names
print(a)
print(b)
                     #it means address is same
b[1]="three"
print(a)
print(b)

a[0]="ali"

print(id(a))
print(id(b))
print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'three', 'c']
['a', 'three', 'c']
2270616991880
2270616991880
['ali', 'three', 'c']
['ali', 'three', 'c']

In [152]:
a=["X","y","z"]
b=a.copy()
print(id(a))
print(id(b))

b[0]="a"
print(a.index("X"))

print(a)
print(b)

2270616342152
2270616339720
0
['X', 'y', 'z']
['a', 'y', 'z']

In [154]:
a=[]
b=["1","2","3","4","5"]
k=b.pop()
a.append(k)

k=b.pop()
a.append(k)

k=b.pop()
a.append(k)

print(a)
print(b)

['5', '4', '3']
['1', '2']

In [155]:
a=[]
b=["1","2","3","4","5"]
k=b.pop(2)
a.append(k)

k=b.pop(2)
a.append(k)

k=b.pop(2)
a.append(k)

print(a)
print(b)

['3', '4', '5']
['1', '2']

In [156]:
a=[]
b=["1","2","3","4","5"]
k=b.pop(0)
a.append(k)

k=b.pop(1)
a.append(k)

k=b.pop(2)
a.append(k)

print(a)
print(b)

['1', '3', '5']
['2', '4']

In [157]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [158]:
print(len(dir(list)))
dir(list)

46

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [159]:
a=("A","B","C")
a[0]="z"
print(a)

TypeError: 'tuple' object does not support item assignment

# LOOP

In [3]:
counter = 660

while counter <= 680:
  print(counter)
  counter += 3

660
663
666
669
672
675
678

In [4]:
counter=800
while counter >=600:
 print(counter)
 counter -= 20

800
780
760
740
720
700
680
660
640
620
600

In [14]:
for i in range(1,11):
    print(f"2 X {i }  = {i*2} ")

2 X 1  = 2
2 X 2  = 4
2 X 3  = 6
2 X 4  = 8
2 X 5  = 10
2 X 6  = 12
2 X 7  = 14
2 X 8  = 16
2 X 9  = 18
2 X 10  = 20

In [11]:
for i in range(10,0,-1):
    print(f"2 X {i} = {i*2}")

2 X 10 = 20
2 X 9 = 18
2 X 8 = 16
2 X 7 = 14
2 X 6 = 12
2 X 5 = 10
2 X 4 = 8
2 X 3 = 6
2 X 2 = 4
2 X 1 = 2

In [34]:
user = int(input("enter number "))
for i in range(1, 11):
    for t in range(1, user + 1 ):
        print(f" {t} X {i} = {t*i}" , end="\t")
    print()

enter number 3
 1 X 1 = 1	 2 X 1 = 2	 3 X 1 = 3
 1 X 2 = 2	 2 X 2 = 4	 3 X 2 = 6
 1 X 3 = 3	 2 X 3 = 6	 3 X 3 = 9
 1 X 4 = 4	 2 X 4 = 8	 3 X 4 = 12
 1 X 5 = 5	 2 X 5 = 10	 3 X 5 = 15
 1 X 6 = 6	 2 X 6 = 12	 3 X 6 = 18
 1 X 7 = 7	 2 X 7 = 14	 3 X 7 = 21
 1 X 8 = 8	 2 X 8 = 16	 3 X 8 = 24
 1 X 9 = 9	 2 X 9 = 18	 3 X 9 = 27
 1 X 10 = 10	 2 X 10 = 20	 3 X 10 = 30